{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduNexus Afrique</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">EduNexus Afrique</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="#">Edu-Konnect</a></li>
                <li><a href="#">Mtaa Legit</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 EduNexus Afrique. All Rights Reserved.</p>
    </footer>
</body>
</html>
